cryptography<3.4
django>=3.2,<4.0
django-apptemplates
django-extensions
django-filer>=1.3
django-storages[boto3]
-e git+https://github.com/django-cms/django-cms.git@develop-4#egg=django-cms
-e git+https://github.com/django-cms/djangocms-text-ckeditor.git@support/4.0.x#egg=djangocms-text-ckeditor
-e git+https://github.com/django-cms/djangocms-alias.git@master#egg=djangocms-alias
-e git+https://github.com/django-cms/djangocms-url-manager.git@master#egg=djangocms-url-manager
https://github.com/django-cms/djangocms-versioning/tarball/master#egg=djangocms-versioning
-e git+https://github.com/FidelityInternational/djangocms-pageadmin.git@1.0.0#egg=djangocms-pageadmin
-e git+https://github.com/FidelityInternational/djangocms-version-locking.git@master#egg=djangocms-version-locking
-e git+https://github.com/fsbraun/djangocms-frontend.git@master#egg=djangocms-frontend
djangocms-admin-style>=3.0
easy_thumbnails
environs
pip-lock
psycopg2==2.8.6
python-dotenv
pytz

# dev
django-debug-toolbar
pip-tools
Werkzeug
